tickTime={{ zookeeper_tick_time }}
dataDir={{ zookeeper_data_dir }}/data
dataLogDir={{ zookeeper_data_dir }}/log
clientPort={{ zookeeper_client_port }}
initLimit={{ zookeeper_init_limit }}
syncLimit={{ zookeeper_sync_limit }}

{% for host in play_hosts %}
server.{{ loop.index }}={{ hostvars[host].ansible_default_ipv4.address }}:2888:3888
{% endfor %}
